name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  linux:
    name: Linux
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Dependencies
        run: |
          set -euxo pipefail
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            apt-transport-https \
            build-essential \
            ca-certificates \
            cmake \
            curl \
            dos2unix \
            fakeroot \
            gcc \
            gcc-multilib \
            g++ \
            gdb \
            gfortran \
            git \
            gnupg \
            java-common \
            libc6-dev \
            libgl1-mesa-dev \
            libglu1-mesa-dev \
            libisl-dev \
            libopencv-dev \
            libvulkan-dev \
            libx11-dev \
            libxcursor-dev \
            libxi-dev \
            libxinerama-dev \
            libxrandr-dev \
            make \
            mesa-common-dev \
            ninja-build \
            pkg-config \
            python3-dev \
            python3-pip \
            python3-setuptools \
            software-properties-common \
            sudo \
            tzdata \
            unzip \
            wget \
            zip

      - name: roboRIO Toolchain
        run: sudo curl -SL https://github.com/wpilibsuite/opensdk/releases/download/v2025-1/cortexa9_vfpv3-roborio-academic-2025-x86_64-linux-gnu-Toolchain-12.1.0.tgz | sh -c 'mkdir -p /usr/local && cd /usr/local && tar xzf - --strip-components=2'
      
      - name: LuaJIT
        run: |
          sh util/build-luajit-linux.sh
          sh util/build-luajit-roborio.sh 

      - name: Configure
        run: cmake -S . -B build -G Ninja

      - name: Build
        run: cmake --build build

      - name: Test
        run: ctest --test-dir build --output-on-failure

  # macos:
  #   name: macOS
  #   runs-on: macos-latest
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4

  #     - name: Set up CMake
  #       uses: jwlawson/actions-setup-cmake@v1

  #     - name: Set up Ninja
  #       uses: seanmiddleditch/gha-setup-ninja@v4

  #     - name: Install dependencies (macOS)
  #       run: brew install pkg-config readline

  #     - name: Configure
  #       run: cmake -S . -B build -G Ninja

  #     - name: Build
  #       run: cmake --build build

  #     - name: Test
  #       run: ctest --test-dir build --output-on-failure

  # windows:
  #   name: Windows (VS 2022)
  #   runs-on: windows-2022
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4

  #     - name: Set up CMake
  #       uses: jwlawson/actions-setup-cmake@v1

  #     - name: Set up Ninja
  #       uses: seanmiddleditch/gha-setup-ninja@v4

  #     - name: Set up MSVC
  #       uses: ilammy/msvc-dev-cmd@v1

  #     - name: Configure
  #       run: cmake -S . -B build -G Ninja

  #     - name: Build
  #       run: cmake --build build

  #     - name: Test
  #       run: ctest --test-dir build --output-on-failure
