name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  linux:
    name: Linux (WPILib Docker)
    runs-on: ubuntu-latest
    container:
      image: wpilib/roborio-cross-ubuntu:2026-22.04-py314
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up CMake
        uses: jwlawson/actions-setup-cmake@v1

      - name: Set up Ninja
        uses: seanmiddleditch/gha-setup-ninja@v4

      - name: Dependencies
        run: apt-get update && apt-get install -y build-essential gcc-multilib \
          dos2unix pkg-config apt-transport-https ca-certificates  gnupg \
          software-properties-common tzdata ca-certificates cmake curl \
          fakeroot g++ --no-install-recommends gcc  gdb  gfortran git \
          java-common libc6-dev libgl1-mesa-dev \
          libglu1-mesa-dev libisl-dev libopencv-dev libvulkan-dev \
          libx11-dev libxcursor-dev libxi-dev \
          libxinerama-dev libxrandr-dev make mesa-common-dev \
          python3-dev python3-pip python3-setuptools sudo unzip wget zip

      - name: LuaJIT
        run: |
          sh util/build-luajit-linux.sh
          sh util/build-luajit-roborio.sh 

      - name: Configure
        run: cmake -S . -B build -G Ninja

      - name: Build
        run: cmake --build build

      - name: Test
        run: ctest --test-dir build --output-on-failure

  # macos:
  #   name: macOS
  #   runs-on: macos-latest
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4

  #     - name: Set up CMake
  #       uses: jwlawson/actions-setup-cmake@v1

  #     - name: Set up Ninja
  #       uses: seanmiddleditch/gha-setup-ninja@v4

  #     - name: Install dependencies (macOS)
  #       run: brew install pkg-config readline

  #     - name: Configure
  #       run: cmake -S . -B build -G Ninja

  #     - name: Build
  #       run: cmake --build build

  #     - name: Test
  #       run: ctest --test-dir build --output-on-failure

  # windows:
  #   name: Windows (VS 2022)
  #   runs-on: windows-2022
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4

  #     - name: Set up CMake
  #       uses: jwlawson/actions-setup-cmake@v1

  #     - name: Set up Ninja
  #       uses: seanmiddleditch/gha-setup-ninja@v4

  #     - name: Set up MSVC
  #       uses: ilammy/msvc-dev-cmd@v1

  #     - name: Configure
  #       run: cmake -S . -B build -G Ninja

  #     - name: Build
  #       run: cmake --build build

  #     - name: Test
  #       run: ctest --test-dir build --output-on-failure
